.header-offset {
  @media screen and (min-width: 768px) {
    height: min(13vw - 60px, 120px);
  }
}

.header {
  position: sticky;
  background-color: black;
  top: 0;
  left: 0;
  
  .container {
    display: flex;
    padding-block: 16px;
    justify-content: space-between;
  }

  &__logo {
    width: 150px;

    @media screen and (min-width: 768px) {
      width: min(19.6vw, 188px);
    }
  }

  .hamburger-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &__lines {
      width: 26px;
      height: 4px;
      border-radius: 10px;
      background-color: var(--white);
      position: relative;
      transition: background-color 200ms;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 26px;
        height: 4px;
        border-radius: 10px;
        background-color: var(--white);
        top: 8px;
        transition: transform 200ms, top 200ms;
      }

      &::after {
        top: -8px;
      }
    }

    &--active .hamburger-icon__lines {
      background-color: transparent;

      &::before {
        transform: rotateZ(-45deg);
        top: 0;
      }

      &::after {
        transform: rotateZ(45deg);
        top: 0;
      }
    }
  }

  .hamburger-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #000;
    display: none;

    @media screen and (min-width: 768px) {
      position: static;
      display: flex;
      padding: 0;
      flex: 1;
    }

    &--active {
      display: block;

      @media screen and (min-width: 768px) {
        display: flex;
      }
    }

    &__links-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 8px;
      text-transform: uppercase;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        margin-bottom: 0;
        align-items: center;
        margin-inline: auto;
        gap: 39px;
      }
    }
  }
}
