.select {
  display: flex;
  font-size: 14px;

  &__name {
    padding: 5px 12px;
    border: 1px solid #B9B9B9;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  &__itself {
    padding: 5px 12px;
    border: 1px solid #fff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &__active-value {
    
  }
}
