.registration-btn {
  background-color: transparent;
  color: var(--white);
  border: 3px solid var(--white);
  text-transform: uppercase;
  padding: 10px 28px;
  height: 50px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 200ms, border-color 200ms, color 200ms;

  &:hover {
    background-color: #ddd;
    border-color: #ddd;
    color: #000;
  }
}
